################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CourseLibrary/.vs/CourseLibrary/v16
