################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CourseLibrary/.vs/CourseLibrary/v16
/CourseLibrary/CourseLibrary.API/obj
/CourseLibrary/CourseLibrary.API/bin/Debug/netcoreapp3.1/runtimes
/CourseLibrary/CourseLibrary.API/bin/Debug/netcoreapp3.1
/CourseLibrary/.vs/CourseLibrary/config
